html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
}

#root {
    background-color: #202736;
    color: white;
    min-height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
